@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: Metropolis;

}


/* Light mode styles (default) */



  .search-input {
    border: 1px solid 'primary-200'; /* Default border */
   
    border-radius: 10px; /* Rounded corners */
  }
  
  .search-input:focus {
    outline: none; /* Removes the default outline */
    border: 1px solid #007BFF; /* Changes border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a glow effect */
  }
  

  /* Add this to your global styles */
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .blink {
    animation: blink 0.5s ease-in-out infinite;
  }



  /* REGULAR */

  .display-112 {
    font-family: Metropolis;
    font-size: 112px;
    font-style: normal;
    font-weight: 400;
    line-height: 116px; /* 103.571% */
    letter-spacing: -2.24px;
   
  }

  .display-96 {
    font-family: Metropolis;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 104.167% */
    letter-spacing: -1.92px;
   
  }


  .display-80 {
    font-family: Metropolis;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px; /* 105% */
    letter-spacing: -1.6px;
   
  }











.display-64 {
  font-family: Metropolis;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 68px; /* 106.25% */
letter-spacing: -1.28px;
 
}

.headline-48 {
  font-family: Metropolis;
  
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.48px;
  
}


.headline-36 {
  font-family: Metropolis;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 122.222% */
letter-spacing: -0.36px;
}

.headline-28 {
  font-family: Metropolis;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 128.571% */
letter-spacing: -0.28px;
}

.headline-24 {
  font-family: Metropolis;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}


.title-20 {
  font-family: Metropolis;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 130% */
}

.title-16 {
  font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 0.032px;
}

.title-12 {
  font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}


.body-20 {
  font-family: Metropolis;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.body-18 {
  font-family: Metropolis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.body-16 {
  font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}



/* Body 14/Regular */
.body-14 {
  font-family: Metropolis;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.body-12 {
  font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}

/* Label */

.label-18 {
  font-family: Metropolis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.label-16 {
  
  font-family: Metropolis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.032px;
}


.label-14 {
  font-family: Metropolis;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.07px;
}

.label-12 {
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.06px;
}

.label-10 {
  font-family: Metropolis;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 0.05px; 
}





/* Medium */

.display-medium-112 {
  font-family: Metropolis;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  line-height: 116px; /* 103.571% */
  letter-spacing: -2.24px;
 
}

.display-medium-96 {
  font-family: Metropolis;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 100px; /* 104.167% */
  letter-spacing: -1.92px;
 
}


.display-medium-80 {
  font-family: Metropolis;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 84px; /* 105% */
  letter-spacing: -1.6px;
 
}


.display-medium-64 {
font-family: Metropolis;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 68px; /* 106.25% */
letter-spacing: -1.28px;

}

.headline-medium-48 {
font-family: Metropolis;

font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 56px; /* 116.667% */
letter-spacing: -0.48px;

}


.headline-medium-36 {
font-family: Metropolis;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 44px; /* 122.222% */
letter-spacing: -0.36px;
}

.headline-medium-28 {
font-family: Metropolis;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 128.571% */
letter-spacing: -0.28px;
}

.headline-medium-24 {
font-family: Metropolis;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}


.title-medium-20 {
font-family: Metropolis;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 130% */
}

.title-medium-16 {
font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
letter-spacing: 0.032px;
}

.title-medium-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}


.body-medium-20 {
font-family: Metropolis;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}

.body-medium-18 {
font-family: Metropolis;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}

.body-medium-16 {
font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}



/* Body 14/Regular */
.body-medium-14 {
font-family: Metropolis;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.body-medium-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}

/* Label */

.label-medium-18 {
font-family: Metropolis;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}

.label-medium-16 {

font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.032px;
}


.label-medium-14 {
font-family: Metropolis;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.07px;
}

.label-medium-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}

.label-medium-10 {
font-family: Metropolis;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 12px; /* 120% */
letter-spacing: 0.05px; 
}




/* SemiBold */



.display-semibold-112 {
  font-family: Metropolis;
  font-size: 112px;
  font-style: normal;
  font-weight: 600;
  line-height: 116px; /* 103.571% */
  letter-spacing: -2.24px;
 
}

.display-semibold-96 {
  font-family: Metropolis;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px; /* 104.167% */
  letter-spacing: -1.92px;
 
}


.display-semibold-80 {
  font-family: Metropolis;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px; /* 105% */
  letter-spacing: -1.6px;
 
}




.display-semibold-64 {
font-family: Metropolis;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 68px; /* 106.25% */
letter-spacing: -1.28px;

}

.headline-semibold-48 {
font-family: Metropolis;

font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 116.667% */
letter-spacing: -0.48px;

}


.headline-semibold-36 {
font-family: Metropolis;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 122.222% */
letter-spacing: -0.36px;
}

.headline-semibold-28 {
font-family: Metropolis;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 128.571% */
letter-spacing: -0.28px;
}

.headline-semibold-24 {
font-family: Metropolis;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}


.title-semibold-20 {
font-family: Metropolis;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 130% */
}

.title-semibold-16 {
font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
letter-spacing: 0.032px;
}

.title-semibold-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}


.body-semibold-20 {
font-family: Metropolis;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 160% */
}

.body-semibold-18 {
  font-family: Metropolis;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 155.556% */
}

.body-semibold-16 {
font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}



/* Body 14/Regular */
.body-semibold-14 {
font-family: Metropolis;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}

.body-semibold-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}

/* Label */

.label-semibold-18 {
font-family: Metropolis;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 155.556% */
}

.label-semibold-16 {

font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: 0.032px;
}


.label-semibold-14 {
font-family: Metropolis;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: 0.07px;
}

.label-semibold-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}

.label-semibold-10 {
font-family: Metropolis;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 12px; /* 120% */
letter-spacing: 0.05px; 
}



/* Bold */

.display-bold-112 {
  font-family: Metropolis;
  font-size: 112px;
  font-style: normal;
  font-weight: 700;
  line-height: 116px; /* 103.571% */
  letter-spacing: -2.24px;
 
}

.display-bold-96 {
  font-family: Metropolis;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 104.167% */
  letter-spacing: -1.92px;
 
}


.display-bold-80 {
  font-family: Metropolis;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 105% */
  letter-spacing: -1.6px;
 
}











.display-bold-64 {
font-family: Metropolis;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 68px; /* 106.25% */
letter-spacing: -1.28px;

}

.headline-bold-48 {
font-family: Metropolis;

font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 116.667% */
letter-spacing: -0.48px;

}


.headline-bold-36 {
font-family: Metropolis;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 122.222% */
letter-spacing: -0.36px;
}

.headline-bold-28 {
font-family: Metropolis;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 128.571% */
letter-spacing: -0.28px;
}

.headline-bold-24 {
font-family: Metropolis;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}


.title-bold-20 {
font-family: Metropolis;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 130% */
}

.title-bold-16 {
font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
letter-spacing: 0.032px;
}

.title-bold-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}


.body-bold-20 {
font-family: Metropolis;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 160% */
}

.body-bold-18 {
font-family: Metropolis;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
}

.body-bold-16 {
font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}



/* Body 14/Regular */
.body-bold-14 {
font-family: Metropolis;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}

.body-bold-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}

/* Label */

.label-bold-18 {
font-family: Metropolis;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
}

.label-bold-16 {

font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.032px;
}


.label-bold-14 {
font-family: Metropolis;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
letter-spacing: 0.07px;
}

.label-bold-12 {
font-family: Metropolis;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}

.label-bold-10 {
font-family: Metropolis;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 12px; /* 120% */
letter-spacing: 0.05px; 
}

  

/* BUTTONS DARKMODE */

button {
  font-family: Metropolis;

}

/* Buttons Default */
.button-primary-extra-small-dark {
  display: inline-flex;
  padding: 6px var(--spacing-lg, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: 8px;
background: var(--Primary-600, #115CC5);
box-shadow: 0px 2px 0px 0px rgba(6, 31, 66, 0.20) inset;
}

.button-primary-small-dark {
  display: inline-flex;
padding: var(--spacing-md, 8px) var(--spacing-xl, 16px);
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--Primary-600, #115CC5);
}


.button-primary-medium-dark {
  display: inline-flex;
padding: 10px var(--spacing-2xl, 20px);
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
background: var(--Primary-600, #115CC5);
}


.button-primary-large-dark {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
background: var(--Primary-600, #115CC5);
}


/* Buttons Hover */
.button-primary-extra-small-hover-dark {
  display: inline-flex;
  padding: 6px var(--spacing-lg, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: 8px;
background: var(--Primary-600, #115CC5);
}

.button-primary-small-hover-dark {
  display: inline-flex;
padding: var(--spacing-md, 8px) var(--spacing-xl, 16px);
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--Primary-600, #115CC5);
}

.button-primary-medium-hover-dark {
  display: inline-flex;
  padding: 10px var(--spacing-2xl, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
background: var(--Primary-600, #115CC5);
}

.button-primary-large-hover-dark {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
background: var(--Primary-600, #115CC5);
}


/* Buttons Pressed */
.button-primary-extra-small-pressed-dark {
  display: inline-flex;
  padding: 6px var(--spacing-lg, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: 8px;
background: var(--Primary-600, #115CC5);
}

.button-primary-small-pressed-dark {
  display: inline-flex;
  padding: var(--spacing-md, 8px) var(--spacing-xl, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
background: var(--Primary-600, #115CC5);
}

.button-primary-medium-pressed-dark {
  display: inline-flex;
  padding: 10px var(--spacing-2xl, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
background: var(--Primary-600, #115CC5);
}

.button-primary-large-pressed-dark {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
background: var(--Primary-600, #115CC5);
}


/* Button Inactive */
.button-primary-extra-small-inactive-dark {
  display: inline-flex;
padding: 6px var(--spacing-lg, 12px);
justify-content: center;
align-items: center;
gap: var(--spacing-md, 8px);
border-radius: 8px;
opacity: 0.72;
background: var(--Primary-600, #115CC5);
}

.button-primary-small-inactive-dark {
  display: inline-flex;
  padding: var(--spacing-md, 8px) var(--spacing-xl, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
opacity: 0.72;
background: var(--Primary-600, #115CC5);
}

.button-primary-medium-inactive-dark {
  display: inline-flex;
  padding: 10px var(--spacing-2xl, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
opacity: 0.72;
background: var(--Primary-600, #115CC5);
}

.button-primary-large-inactive-dark {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
opacity: 0.72;
background: var(--Primary-600, #115CC5);
}



/* BUTTONS LIGHT BUTTON */

/* Buttons Default */
.button-primary-extra-small-light {
  display: inline-flex;
  padding: 6px var(--spacing-lg, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
border-radius: 8px;
background: var(--Primary-800, #0A336E);
}

.button-primary-small-light {
  display: inline-flex;
padding: var(--spacing-md, 8px) var(--spacing-xl, 16px);
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--Primary-800, #0A336E);
}

.button-primary-medium-light {
  display: inline-flex;
  padding: 10px var(--spacing-2xl, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
background: var(--Primary-800, #0A336E);
}


.button-primary-large-light {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
background: var(--Primary-800, #0A336E);
}


/* Buttons Hover */
.button-primary-extra-small-hover-light {
  display: inline-flex;
padding: 6px var(--spacing-lg, 12px);
justify-content: center;
align-items: center;
gap: var(--spacing-md, 8px);
border-radius: 8px;
background: var(--Primary-800, #0A336E);
}

.button-primary-small-hover-light {
  display: inline-flex;
  padding: var(--spacing-md, 8px) var(--spacing-xl, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
background: var(--Primary-800, #0A336E);
}

.button-primary-medium-hover-light {
  display: inline-flex;
  padding: 10px var(--spacing-2xl, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
background: var(--Primary-800, #0A336E);
}

.button-primary-medium-hover-light {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
background: var(--Primary-800, #0A336E);
}

.button-primary-large-hover-light {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
background: var(--Primary-800, #0A336E);
}


/* Buttons Pressed Light */
.button-primary-extra-small-pressed-light {
  display: inline-flex;
  padding: 6px var(--spacing-lg, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: 8px;
background: var(--Primary-800, #0A336E);
}

.button-primary-small-pressed-light {
  display: inline-flex;
padding: var(--spacing-md, 8px) var(--spacing-xl, 16px);
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--Primary-800, #0A336E);
}

.button-primary-medium-pressed-light {
  display: inline-flex;
  padding: 10px var(--spacing-2xl, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
background: var(--Primary-800, #0A336E);
}

.button-primary-large-pressed-light {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
background: var(--Primary-800, #0A336E);
}


/* Button Inactive */
.button-primary-extra-small-inactive-light {
  display: inline-flex;
  padding: 6px var(--spacing-lg, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: 8px;
opacity: 0.72;
background: var(--Primary-800, #0A336E);
}

.button-primary-small-inactive-light {
  display: inline-flex;
  padding: var(--spacing-md, 8px) var(--spacing-xl, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
opacity: 0.72;
background: var(--Primary-800, #0A336E);
}

.button-primary-medium-inactive-light {
  display: inline-flex;
  padding: 10px var(--spacing-2xl, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
opacity: 0.72;
background: var(--Primary-800, #0A336E);
}

.button-primary-large-inactive-light {
  display: inline-flex;
  padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
opacity: 0.72;
background: var(--Primary-800, #0A336E);
}



/* DROP SHADOWS */
/* Subtle */
.subtle-small-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Subtle/Small */
  box-shadow: 0px 1px 0px 0px rgba(173, 204, 248, 0.03), 0px 2px 2px 0px rgba(173, 204, 248, 0.03), 0px 5px 5px 0px rgba(173, 204, 248, 0.05);
  backdrop-filter: blur(10px);
}

.subtle-small-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Subtle/Small */
box-shadow: 0px 1px 0px 0px rgba(6, 31, 66, 0.03), 0px 2px 2px 0px rgba(6, 31, 66, 0.03), 0px 5px 5px 0px rgba(6, 31, 66, 0.05);
backdrop-filter: blur(10px);
}


.subtle-medium-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Subtle/Medium */
  box-shadow: 0px 1px 0px 0px rgba(173, 204, 248, 0.03), 0px 4px 4px 0px rgba(173, 204, 248, 0.05), 0px 8px 8px 0px rgba(173, 204, 248, 0.05);
  backdrop-filter: blur(10px);
}

.subtle-medium-light {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);
  
  /* Drop Shadow/Light/Subtle/Small */
  box-shadow: 0px 1px 0px 0px rgba(6, 31, 66, 0.03), 0px 2px 2px 0px rgba(6, 31, 66, 0.03), 0px 5px 5px 0px rgba(6, 31, 66, 0.05);
  backdrop-filter: blur(10px);
}

.subtle-large-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Subtle/Large */
  box-shadow: 0px 1px 0px 0px rgba(173, 204, 248, 0.03), 0px 6px 6px 0px rgba(173, 204, 248, 0.05), 0px 10px 10px 0px rgba(173, 204, 248, 0.05);
  backdrop-filter: blur(10px);
}

.subtle-large-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Subtle/Small */
box-shadow: 0px 1px 0px 0px rgba(6, 31, 66, 0.03), 0px 2px 2px 0px rgba(6, 31, 66, 0.03), 0px 5px 5px 0px rgba(6, 31, 66, 0.05);
backdrop-filter: blur(10px);
}

.subtle-x-large-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Subtle/X-Large */
  box-shadow: 0px 1px 0px 0px rgba(173, 204, 248, 0.03), 0px 8px 8px 0px rgba(173, 204, 248, 0.05), 0px 12px 12px 0px rgba(173, 204, 248, 0.06);
  backdrop-filter: blur(10px);
}

.subtle-x-large-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Subtle/Small */
box-shadow: 0px 1px 0px 0px rgba(6, 31, 66, 0.03), 0px 2px 2px 0px rgba(6, 31, 66, 0.03), 0px 5px 5px 0px rgba(6, 31, 66, 0.05);
backdrop-filter: blur(10px);
}



/* Regular */
.regular-small-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Regular/Small */
  box-shadow: 0px 1px 0px 0px rgba(173, 204, 248, 0.05), 0px 4px 4px 0px rgba(173, 204, 248, 0.05), 0px 10px 10px 0px rgba(173, 204, 248, 0.10);
  backdrop-filter: blur(10px);
}


.regular-small-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Regular/Small */
box-shadow: 0px 1px 0px 0px rgba(6, 31, 66, 0.05), 0px 4px 4px 0px rgba(6, 31, 66, 0.05), 0px 10px 10px 0px rgba(6, 31, 66, 0.10);
backdrop-filter: blur(10px);
}



.regular-medium-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Regular/Medium */
  box-shadow: 0px 2px 4px 0px rgba(173, 204, 248, 0.10), 0px 5px 10px 0px rgba(173, 204, 248, 0.10), 0px 15px 30px 0px rgba(173, 204, 248, 0.15);
  backdrop-filter: blur(10px);
}

.regular-medium-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Regular/Medium */
box-shadow: 0px 2px 4px 0px rgba(6, 31, 66, 0.10), 0px 5px 10px 0px rgba(6, 31, 66, 0.10), 0px 15px 30px 0px rgba(6, 31, 66, 0.15);
backdrop-filter: blur(10px);
}



.regular-large-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Regular/Large */
  box-shadow: 0px 3px 6px 0px rgba(173, 204, 248, 0.10), 0px 10px 20px 0px rgba(173, 204, 248, 0.10), 0px 15px 30px 0px rgba(173, 204, 248, 0.15);
  backdrop-filter: blur(10px);
}


.regular-large-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Regular/Large */
box-shadow: 0px 3px 6px 0px rgba(6, 31, 66, 0.10), 0px 10px 20px 0px rgba(6, 31, 66, 0.10), 0px 15px 30px 0px rgba(6, 31, 66, 0.15);
backdrop-filter: blur(10px);
}

.regular-x-large-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Regular/X-Large */
  box-shadow: 0px 5px 10px 0px rgba(173, 204, 248, 0.10), 0px 15px 30px 0px rgba(173, 204, 248, 0.10), 0px 20px 40px 0px rgba(173, 204, 248, 0.15);
  backdrop-filter: blur(10px);
}

.regular-x-large-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Regular/X-Large */
box-shadow: 0px 5px 10px 0px rgba(6, 31, 66, 0.10), 0px 15px 30px 0px rgba(6, 31, 66, 0.10), 0px 20px 40px 0px rgba(6, 31, 66, 0.15);
backdrop-filter: blur(10px);
}

/* Strong */
.strong-small-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Strong/Small */
  box-shadow: 0px 1px 0px 0px rgba(173, 204, 248, 0.05), 0px 4px 4px 0px rgba(173, 204, 248, 0.10), 0px 10px 10px 0px rgba(173, 204, 248, 0.15);
  backdrop-filter: blur(10px);
}

.strong-small-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Strong/Small */
box-shadow: 0px 1px 0px 0px rgba(6, 31, 66, 0.05), 0px 4px 4px 0px rgba(6, 31, 66, 0.10), 0px 10px 10px 0px rgba(6, 31, 66, 0.15);
backdrop-filter: blur(10px);
}


.strong-medium-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Strong/Medium */
  box-shadow: 0px 2px 4px 0px rgba(173, 204, 248, 0.10), 0px 5px 10px 0px rgba(173, 204, 248, 0.10), 0px 10px 20px 0px rgba(173, 204, 248, 0.20);
  backdrop-filter: blur(10px);
}


.strong-medium-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Strong/Medium */
box-shadow: 0px 2px 4px 0px rgba(6, 31, 66, 0.10), 0px 5px 10px 0px rgba(6, 31, 66, 0.10), 0px 10px 20px 0px rgba(6, 31, 66, 0.20);
backdrop-filter: blur(10px);
}



.strong-large-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Strong/Large */
  box-shadow: 0px 3px 6px 0px rgba(173, 204, 248, 0.10), 0px 10px 20px 0px rgba(173, 204, 248, 0.15), 0px 15px 30px 0px rgba(173, 204, 248, 0.20);
  backdrop-filter: blur(10px);
}

.strong-large-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Strong/Large */
box-shadow: 0px 3px 6px 0px rgba(6, 31, 66, 0.10), 0px 10px 20px 0px rgba(6, 31, 66, 0.15), 0px 15px 30px 0px rgba(6, 31, 66, 0.20);
backdrop-filter: blur(10px);
}


.strong-x-large-dark {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(6, 31, 66, 0.40) 0%, rgba(245, 249, 254, 0.08) 100%);
  
  /* Drop Shadow/Dark/Strong/X-Large */
  box-shadow: 0px 5px 10px 0px rgba(173, 204, 248, 0.05), 0px 15px 30px 0px rgba(173, 204, 248, 0.15), 0px 20px 40px 0px rgba(173, 204, 248, 0.25);
  backdrop-filter: blur(10px);
}

.strong-x-large-light {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.25) 100%);

/* Drop Shadow/Light/Strong/X-Large */
box-shadow: 0px 5px 10px 0px rgba(6, 31, 66, 0.05), 0px 15px 30px 0px rgba(6, 31, 66, 0.15), 0px 20px 40px 0px rgba(6, 31, 66, 0.25);
backdrop-filter: blur(10px);
}



/* Cards */

/* Testimonial */
.testimonial-dark {
  border-radius: var(--Container-corner-radius, 10px);
border: 1px solid var(--Light-Mode-Container-Border, rgba(255, 255, 255, 0.10));
background: var(--Light-Mode-Container-Background, linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.50) 100%));

/* Shadow-Blur-Subtle/sm */
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(10px);
}

.testimonial-light {
  border-radius: var(--Container-corner-radius, 10px);
border: 1px solid var(--Light-Mode-Container-Border, rgba(255, 255, 255, 0.10));
background: var(--Light-Mode-Container-Background, linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.50) 100%));

/* Shadow-Blur-Subtle/sm */
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(10px);
}


.financial-card-dark {
  border-radius: 10px;
border: 1px solid var(--Light-Mode-Container-Border, rgba(255, 255, 255, 0.10));
background: var(--Light-Mode-Container-Background, linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.50) 100%));

/* Shadow-Blur/sm */
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
backdrop-filter: blur(10px);
}

.financial-card-light {
  border-radius: 10px;
  border: 1px solid var(--Light-Mode-Container-Border, rgba(255, 255, 255, 0.10));
  background: var(--Light-Mode-Container-Background, linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.50) 100%));
  
  /* Shadow-Blur/sm */
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(10px);
}


/* confirmation */
.confirmation-dark {
  border-radius: var(--Container-corner-radius, 10px);
border: 1px solid var(--Light-Mode-Container-Border, rgba(255, 255, 255, 0.10));
background: var(--Light-Mode-Container-Background, linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.50) 100%));

/* Elevation/Dark/Large */
box-shadow: 0px 5px 10px 0px rgba(245, 249, 254, 0.10), 0px 15px 30px 0px rgba(245, 249, 254, 0.10), 0px 20px 40px 0px rgba(245, 249, 254, 0.15);
backdrop-filter: blur(10px);
}

.confirmation-light {
  border-radius: var(--Container-corner-radius, 10px);
border: 1px solid var(--Light-Mode-Container-Border, rgba(255, 255, 255, 0.10));
background: var(--Light-Mode-Container-Background, linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.50) 100%));

/* Elevation/Light/Large */
box-shadow: 0px 5px 10px 0px rgba(6, 31, 66, 0.10), 0px 15px 30px 0px rgba(6, 31, 66, 0.10), 0px 20px 40px 0px rgba(6, 31, 66, 0.15);
backdrop-filter: blur(10px);
}


.exchanges-card {
  border-radius: 12px;
  background: var(--cryptotracker-bf-76-c-web-app-deep-cove, #061F42);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -4px rgba(0, 0, 0, 0.10);
}


/* NEWS CARDS */

.news-card {
  border-radius: 16px;
background: var(--Primary-800, #0A336E);
box-shadow: 0px 0px 0px 1px #131722 inset;
}







/* @keyframes bounce-ball {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

@keyframes bounce-shadow {
  0%, 100% {
    transform: scaleX(1);
    opacity: 0.5;
  }
  50% {
    transform: scaleX(0.5);
    opacity: 0.1;
  }
} */

/* .ball {
  animation: bounce-ball 4s infinite;
  background-color: #555; 
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.ball-shadow {
  animation: bounce-shadow 3s infinite;
  background-color: whitesmoke; 
  border-radius: 50%;
  width: 400px;
  height: 70px;
  margin-top: -10px; 
} */
